@import 'arkui/mixins'
@import 'common/variable'
@import 'extends'

.cat-light
  .metronome-leaf
    @extend $up-leaf
  .microphone-leaf
    @extend $down-leaf
  .color-red
    background: colorRed
  .color-pink
    background: colorPink
  .color-gray
    background: colorDarkGray

.scoreboard
  .number
    font-size: 90px
    color: rgba(#999, 0.2)

.metronome-score
  top: -14px
  right: 0

.microphone-score
  bottom: -10px
  left: 0
