*
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -ms-touch-action: none
  user-select: none

// layer stack
.bottom-panel
.top-panel
  position: absolute
  overflow: hidden

.bottom-panel
  z-index: 10

.top-panel
  z-index: 20

panelHeight = 124px
labelHeight = 28px
numberHeight = panelHeight - labelHeight

.top-panel
  top: 0
  bottom: panelHeight
  left: 0
  right: 0
  background: #e8e8e8
  //box-shadow: inset 0 0 5px #FFF

.bottom-panel
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #F1F1F1

.control-panel
  height: panelHeight
  width: 100%
  position: absolute
  bottom: 0

.control-panel ul
  font-size: 0
  text-align: justify
  //box-shadow: inset 0 -12px 36px #FFF

.control-item
  text-align: center
  overflow: hidden
  font-size: 12px
  display: inline-block
  width: (100 / 3)%
  height: panelHeight
  box-sizing: content-box
  .label
    display: block
    box-sizing: content-box
    border-bottom: 1px solid #999
    margin: 0 4px
    height: labelHeight
    line-height: @height
  .number
    display: block
    font-size: 40px
    height: numberHeight
    line-height: @height

.cat-container
  text-align: center
  height: 100%
  position: relative
  .cat-area
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%,-50%)
    -ms-transform: translate(-50%,-50%)
    transform: translate(-50%,-50%)
