@import 'arkui/mixins'
@import 'common/variable'
@import 'extends'

body
  overflow: hidden
  height: 100%

// layer stack
.bottom-panel
.top-panel
  position: absolute
  overflow: hidden

.bottom-panel
  z-index: 10

.top-panel
  z-index: 20

.top-panel
  top: 0
  bottom: panelHeight
  left: 0
  right: 0
  background: colorGray

.bottom-panel
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: colorWhite

// Cat Area
.cat-container
  cursor: pointer
  text-align: center
  height: 100%
  position: relative
  .cat-area
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%) scale3d(0.5, 0.5, 1)

.cat-light
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.metronome-score
.microphone-score
  position: absolute

// Control Panel
.control-panel
  height: panelHeight
  width: 100%
  position: absolute
  bottom: 0

.control-panel ul
  font-size: 0
  text-align: justify
