panelHeight = 124px
labelHeight = 16px
numberHeight = panelHeight - labelHeight

colorWhite = #F1F1F1
colorGray = #e8e8e8

colorBlue = #B8D4EB
colorGreen = #CBD995
colorYello = #F8D355

colorPink = #CC3F6C
colorRed = #F96438
colorDarkGray = #d5d5d5
