@import 'common/variable'

.tempo .btn:hover
.beats .btn:hover
.subdivision .btn:hover
  background-color: transparent

.tempo .btn.hover
  background-color: rgba(colorBlue, 0.2)
.beats .btn.hover
  background-color: rgba(colorGreen, 0.2)
.subdivision .btn.hover
  background-color: rgba(colorYello, 0.2)
