// Leafs
rotateDeg = -24deg
$leaf
  position: absolute
  top: 0
  left: 0
  height: 400%
  width: 200%
  overflow: hidden
$up-leaf
  @extend $leaf
  transform: translate(25%, -(100/8*3)%) rotate(rotateDeg)
  transform-origin: 0 50%
  .reset-leaf
    transform: translate(-50%, (100/2*3)%) rotate(- rotateDeg)

$down-leaf
  @extend $leaf
  transform: translate(-75%, -(100/8*3)%) rotate(rotateDeg)
  transform-origin: 100% 50%
  .reset-leaf
    transform: translate(50%, (100/2*3)%) rotate(- rotateDeg)
