doctype html
html(lang="en")
  head
    title DrumCat
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    link(rel="apple-touch-icon-precomposed" href="")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="")

    link(rel="stylesheet" href="css/index.css")
    link(rel="stylesheet" href="css/mobile.css" media="screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width: 720px)")

  body
    include pages/main
    #main-layer

    #setting-layer

    script(src="js/main.js")
    script(src="//localhost:35729/livereload.js?snipver=1")
