mixin control-button(number)
  a.btn.plus
    span.number.reset-leaf(data-value=number)= number
  a.btn.minus
    span.number.reset-leaf(data-value=number)= number
  span.plus-sign +
  span.minus-sign -

script#tmpl-main-layout(type="text/template")
  .bottom-panel
    .control-panel
      ul
        li.control-item.tempo(data-name="tempo")
          span.label TEMPO
          +control-button(120)
        li.control-item.beats(data-name="beats")
          span.label BEATS
          +control-button(2)
        li.control-item.subdivision(data-name="subdivision")
          span.label SUBDIVIDSION
          +control-button(4)

  .top-panel
    .cat-bg
      .cat-light
        .metronome-leaf
        .microphone-leaf
      .scoreboard
        .metronome-score
          span.number
        .microphone-score
          span.number
    .cat-container
      canvas.cat-area

  .setting-model
    input(name="tempo" type="number" value="120" min=20 max=300)
    input(name="beats" type="number" value="2" min=1 max=6)
    input(name="subdivision" type="number" value="4" min=1 max=16)

  a.setting(href="/setting" data-permalink) setting
  button(name="start") start
  button(name="stop") stop
