template#tmpl-main-layout
  input(name="tempo" type="number" value="120")
  input(name="beats" type="number" value="2")
  input(name="subdivision" type="number" value="4")
  a.setting(href="/setting" data-permalink) setting
