mixin control-button(number)
  span.btn.plus
    span.number.reset-leaf= number
  span.btn.minus
    span.number.reset-leaf= number
  span.plus-sign +
  span.minus-sign -

template#tmpl-main-layout
  .bottom-panel
    .control-panel
      ul
        li.control-item.tempo(data-name="tempo")
          span.label TEMPO
          +control-button(120)
        li.control-item.beats(data-name="beats")
          span.label BEATS
          +control-button(2)
        li.control-item.subdivision(data-name="subdivision")
          span.label SUBDIVIDSION
          +control-button(4)

  .top-panel
    .cat-bg.cat-light
      span.metronome-leaf
      span.microphone-leaf
    .cat-container
      img.cat-area(src="pic/octocat.svg")

  .setting-model
    input(name="tempo" type="number" value="120" min=20 max=300)
    input(name="beats" type="number" value="2" min=1 max=6)
    input(name="subdivision" type="number" value="4" min=1 max=16)

  a.setting(href="/setting" data-permalink) setting
  button(name="start") start
  button(name="stop") stop
